$blue: #062C76;
$brown: #940103;
$light-grey: #F4F5F4;
$white: #FFFFFF;
$deep-blue: #001847;

body {

    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
        outline: none;
        box-shadow: none;
    }

    p {
        text-align: justify;
    }

    .shadow-sm {
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3) !important;
    }

    hr {
        border: 1px solid $blue !important;
        opacity: 1 !important;
        .inactive {
            border: 2px solid grey !important;
        }
    }

    hr.inactive {
        border: 2px solid grey !important;
    }

    hr.active {
        border: 2px solid $blue !important;
    }

    font-size: 14px;

    

    .index-title {
        font-size: 52px;
        color: $blue;
        text-transform: uppercase;
    }

    .crd-title {
        font-size: 22px;
        color: $blue;
        text-transform: uppercase;
    }

    /* Typography Start */

    .font-lato {
        font-family: 'Lato', sans-serif;
    }

    .font-roboto {
        font-family: 'Roboto', sans-serif;
    }

    .fi {
        font-style: italic;
    }

    .fs-12 {
        font-size: 12px;
    }

    .fs-13 {
        font-size: 13px;
    }

    .fs-14 {
        font-size: 14px;
    }

    .fs-18 {
        font-size: 18px;
    }

    .fs-20 {
        font-size: 20px;
    }

    .fs-22 {
        font-size: 22px;
    }

    .fs-24 {
        font-size: 24px;
    }

    .fs-29 {
        font-size: 29px;
    }

    .fs-32 {
        font-size: 32px;
    }

    .fs-48 {
        font-size: 48px;
    }

    .fs-50 {
        font-size: 50px;
    }

    .fs-52 {
        font-size: 52px;
    }

    .fs-72 {
        font-size: 72px;
    }

    .fw-300 {
        font-weight: 300;
    }

    .fw-400 {
        font-weight: 400;
    }

    .fw-700 {
        font-weight: 700;
    }

    .fw-800 {
        font-weight: 800;
    }

    .fw-900 {
        font-weight: 900;
    }

    .about-hero-title {
        font-size: 52px;
        color: $blue;
        text-transform: uppercase;
        font-style: italic;
        font-weight: 600;
    }

    .about-title {
        font-size: 32px;
        color: $blue;
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
        font-weight: 600;
    }

    p {
        font-size: 14px;
    }

    .lato {
        font-family: 'Lato', sans-serif;
    }

    .roboto {
        font-family: 'Roboto', sans-serif;
    }

    /* Typography Start */

    

    background: $light-grey;

    .bg-blue {
        background-color: $blue;
    }

    .bg-brown {
        background-color: $brown;
    }

    .bg-ligh-grey {
        background-color: $light-grey;
    }

    .bg-white {
        background-color: $white;
    }

    .bg-deep-blue {
        background-color: $deep-blue;
    }

    .bg-blue-gradient {
        background: linear-gradient(36.38deg, rgba(0, 0, 0, .7) 22.07%, rgba(6, 44, 118, 1) 60.08%);
    }

    .bg-blue-transparent {
        background: rgba($color: $blue, $alpha: .7);
    }

    .text-blue {
        color: $blue !important;
    }

    .text-brown {
        color: $brown !important;
    }

    .text-ligh-grey {
        color: $light-grey !important;
    }

    .text-white {
        color: $white !important;
    }

    .border-blue {
        border: 2px solid $blue !important;
    }

    .border-brown {
        border: 2px solid $brown !important;
    }

    .border-b-y {
        border-top: 2px solid $blue !important;
        border-bottom: 2px solid $blue !important;
    }
    
}


@media screen and (max-width: 768px) {
    body {

        #second-section {
            display: none;
        }

        font-size: 8px;

        p {
            font-size: 8px;
        }

        .fs-12 {
            font-size: 8px;
        }
    
        .fs-14 {
            font-size: 8px;
        }
    
        .fs-18 {
            font-size: 9px;
        }
    
        .fs-20 {
            font-size: 17px;
        }
    
        .fs-22 {
            font-size: 12px;
        }
    
        .fs-32 {
            font-size: 26px;
        }

        .fs-52 {
            font-size: 26px;
        }

        .border-blue-y {
            border-top: 2px solid $blue !important;
            border-bottom: 2px solid $blue !important;
        }

        .a {
            width: 13px !important;
            height: 13px !important;
        }

    }
}